<!DOCTYPE HTML>
<html lang="en">

  <head>
    <title>{{ site.title }}</title>
    <meta charset="utf-8" />
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/main.css" />
  </head>
  
  <body>
    <header>
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
      <p><a href="#more">More info</a></p>
    </header>
    <section>
      {{#each collections.images}}
        <div>
          <img src="{{ src.low_resolution.url }}" alt="" />
          <p>
            {{{ caption }}}. <br />
            <a href="{{ link }}"><span>View on Instagram</span></a>
          </p>
        </div>
      {{/each}}
    </section>
    <a name="more"></a> 
    <article>
      {{{ contents }}}
    </article>
  </body>
  
</html>